body {
	margin: 0;
	padding: 0;
	font-family: arial, helvetica, sans-serif;
}

#stream-player_html5_api {
	width: 100vw;
	height: 100vh;
}

.centered {
  text-align: center;
}

.blackbg {
	background-color: #000000;
}

#stream-container {
	display: none;
}

#ol {
	z-index: 9;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}